<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head (~{::title})}">
    <title>Main page</title>
</head>
<body class="bg-light">
<div th:replace="~{fragments/common :: header (#{main.page.header.heading})}"></div>

<div id="content" class="container" style="padding-bottom: 66px;">
    <div class="row row-cols-1 row-cols-lg-2 g-2">
        <div th:each="post : ${posts}" class="col">
            <div th:replace="~{fragments/post :: post-thumbnail (${post})}"></div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/common :: footer}"></div>

</body>

<script type="text/javascript">
    var resizeElement = document.getElementById("header");
    var content = document.getElementById("content");
    var resizeCallback = function () {
        console.log("height: " + resizeElement.clientHeight);
        content.style.paddingTop = resizeElement.clientHeight + 8 + "px";
    };
    addResizeListener(resizeElement, resizeCallback);
    // removeResizeListener(resizeElement, resizeCallback);
</script>
</html>
