<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head (~{::title})}">
    <title>Post</title>
</head>
<body class="bg-light">
<div th:replace="~{fragments/common :: header (#{usercreated.page.header.heading})}"></div>

<div id="content" class="container" style="padding-bottom: 66px;">
    <div class="row row-cols-1">
        <div class="p-2 bg-white border rounded-1">
            <h3 th:text="#{body.new.user.created}">New User Created</h3>
        </div>
    </div>
</div>

<div th:replace="~{fragments/common :: footer}"></div>
</body>
<script type="text/javascript">
    var resizeElement = document.getElementById("header");
    var content = document.getElementById("content");
    var resizeCallback = function () {
        console.log("height: " + resizeElement.clientHeight);
        content.style.paddingTop = resizeElement.clientHeight + 8 + "px";
    };
    addResizeListener(resizeElement, resizeCallback);
    // removeResizeListener(resizeElement, resizeCallback);
</script>
</html>
